<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <div id="library"></div>

    <script type="text/javascript">
        (function() {
            var script = document.createElement('script');
            if (typeof require !== 'function') {
                // If we are in a web env
                script.src = './dist/client-web.bundle.js';
                document.currentScript.parentNode.insertBefore(script, document.currentScript);
            } else {
                // If we are in electron
                require(process.cwd() + '/dist/client-electron.bundle.js');
//                document.currentScript.parentNode.insertBefore(script, document.currentScript);
            }
        })();
    </script>
</body>
</html>